

<div id="paypal-button-container"></div>
<p id="result-message"></p>

@section Scripts
{
    <script src="~/modules/apphelper.js"></script>
    <script src="~/modules/apiclient.js"></script>
    <!-- Initialize the JS-SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AbOVbc8h7PzevKXgQ1Jf8o-n0_AtP--RUl-YpsDIOh5NCGbsgc73nC20Dzc_FdJST5sr4WOwlKAhIw70&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo,paylater,card"
            data-sdk-integration-source="developer-studio"></script>
    <script src="~/modules/paypal.js"></script>
}




